<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
            integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s="
            crossorigin=""></script>

    <style>
        .map {
            height: 400px;
        }
    </style>

    <script>
        //decode an encoded string
        function decode(encoded, mul) {
            //precision
            var inv = 1.0 / mul;
            var decoded = [];
            var previous = [0,0];
            var i = 0;
            //for each byte
            while(i < encoded.length) {
                //for each coord (lat, lon)
                var ll = [0,0]
                for(var j = 0; j < 2; j++) {
                    var shift = 0;
                    var byte = 0x20;
                    //keep decoding bytes until you have this coord
                    while(byte >= 0x20) {
                        byte = encoded.charCodeAt(i++) - 63;
                        ll[j] |= (byte & 0x1f) << shift;
                        shift += 5;
                    }
                    //add previous offset to get final value and remember for next one
                    ll[j] = previous[j] + (ll[j] & 1 ? ~(ll[j] >> 1) : (ll[j] >> 1));
                    previous[j] = ll[j];
                }
                //scale by precision and chop off long coords also flip the positions so
                //its the far more standard lon,lat instead of lat,lon
                decoded.push([ll[1] * inv,ll[0] * inv]);
            }
            //hand back the list of coordinates
            return decoded;
        }

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Is private</th>
                <th>Owner</th>
                <th>Favorite</th>
                <th>Distance</th>
                <th>Elevation Gain</th>
                <th>Change Time</th>
                <th>Download</th>
                <th>Download reverse</th>
            </tr>
            </thead>
            <tbody>
            {% for route in routes %}
                <tr class="accordion-toggle">
                    <td>
                        <button class="btn btn-default btn-xs showmap"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse_{{ route.id }}"
                                data-polyline="{{ route.map.summary_polyline }}" data-routeid="{{ route.id }}"
                        >
                            <i class="bi bi-display"></i>
                        </button>
                    </td>
                    <td>{{ route.name }}</td>
                    <td>
                        {% if route.private %}
                            <i class="bi bi-lock"></i>
                        {% else %}
                            <i class="bi bi-unlock"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if route.athlete.id == athlete.id %}
                            You
                        {% else %}
                            {{ route.athlete.firstname }} {{ route.athlete.lastname }}
                        {% endif %}
                    </td>
                    <td>{{ route.starred }}</td>
                    <td>{{ route.distance|format_distance }}</td>
                    <td>{{ route.elevation_gain }}</td>
                    <td>{{ route.timestamp|format_datetime }}</td>
                    <td><a href="{{ url_for('download_gpx', route_id = route.id) }}">Download</a></td>
                    <td><a href="{{ url_for('reverse_gpx', route_id = route.id) }}">Download (reverse)</a></td>
                </tr>
                <tr>
                    <td colspan="12" style="padding: 0 !important">
                        <div class="accordion-collapse collapse" id="collapse_{{ route.id }}">
                            <table class="table">
                                <tr>
                                    <td colspan="4">Description: {{ route.description }}</td>
                                    <td colspan="5">
                                        <div id="map_{{ route.id }}" class="map"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

<script>
    var map = undefined;

    var map_buttons = document.querySelectorAll("button.showmap");
    map_buttons.forEach(function (elm) {
        elm.addEventListener('click', function (ev) {
            if (map !== undefined) {
                map.remove();
                map = undefined;
            }
            let dataset = this.dataset;
            console.log('map_' + dataset['routeid'])
            map = L.map('map_' + dataset['routeid']).setView([40.5, -76.5], 9);
            L.tileLayer('http://b.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributers'
            }).addTo(map);
            let polyline = dataset['polyline'].replace(/\\\\/g, '\\')
            var decoded = decode(polyline, 1e5);
            console.log(decoded);
            var json = {
                type:'FeatureCollection',
                features: [{
                    type: 'Feature',
                    geometry: {
                        type: 'LineString',
                        coordinates: decoded
                    },
                    properties: {}
                }]
            };
            geojson = L.geoJson(json,{ style: function(feature) {
                    return { fillColor: feature.properties.fill,
                        color: '#9900CC',
                        opacity: 0.75,
                        weight: 7,
                    };
                }});
            //render the geojson
            geojson.addTo(map);
            //fit it in view
            map.fitBounds(L.GeoJSON.coordsToLatLngs(decoded));
        })
    });
</script>
</body>
</html>