{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="post">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Name</th>
                    <th>Private/Public</th>
                    <th>Private/Public</th>
                    <th>switch</th>
                </tr>
                {% for row in response_obj %}
                    <tr>
                        <td>{{ row.id }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.start_date }}</td>
                        <td>{{ row.private }}</td>
                        <td>{{ row.visibility }}</td>
                        <td><button name="toggle" value="{{ row.id }}">Toggle</button></td>
                    </tr>
                {% endfor %}
            </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}