{% extends "base.html" %}

{% block body %}
<div class="container">
    <form class="row g-3" method="post" enctype="multipart/form-data">
        <div class="col-12">
            <label for="activity_name" class="form-label">Name</label>
            <input type="text" class="form-control" name="activity_name" id="activity_name">
        </div>
        <div class="col-12">
            <label for="activity_description" class="form-label">Description</label>
            <textarea class="form-control" name="activity_description" id="activity_description"></textarea>
        </div>
        <div class="col-12">
            <label for="activity_file" class="form-label">Default file input example</label>
            <input class="form-control" type="file" name="activity_file" id="activity_file" accept=".fit,.gpx" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {{ response|tojson }}
</div>
{% endblock %}